{% extends 'base.html' %}
{% block title_content %}
Staff Home | EduStation
{% endblock title_content %}
{% block main_content %}
               <div class="page-header">
                  <div class="row">
                     <div class="col-sm-12">
                        <h3 class="page-title">Hello There Staff!</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <div class="card bg-one w-100">
                        <a href="{% url 'staff_take_attendance' %}"><div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fas fa-user-graduate"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{students_count}}</h3>
                                 <h6>Students Under Me</h6>
                              </div>
                           </div>
                        </div></a>
                     </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <div class="card bg-two w-100">
                        <a href="{% url 'staff_view_attendance' %}"><div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon" style="padding: 13px 21px;">
                                 <i class="fas fa-clipboard-check"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{total_attendance}}</h3>
                                 <h6>Attendance Taken</h6>
                              </div>
                           </div>
                        </div></a>
                     </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <div class="card bg-three w-100">
                        <a href="{% url 'staff_apply_leave' %}"><div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon" style="padding: 13px 15px;">
                                 <i class="fas fa-door-open"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{total_leave}}</h3>
                                 <h6>Leaves Taken</h6>
                              </div>
                           </div>
                        </div></a>
                     </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <div class="card bg-four w-100">
                        <a href="#"><div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon" style="padding: 13px 15px;">
                                 <i class="fas fa-book-open"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{total_subject}}</h3>
                                 <h6>Total Subjects</h6>
                              </div>
                           </div>
                        </div></a>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12 col-lg-6">
                     <div class="card card-chart">
                        <div class="card-header">
                           <div class="row align-items-center">
                              <div class="col-6">
                                 <h5 class="card-title">Total Attendance Data</h5>
                              </div>

                           </div>
                        </div>
                        <div class="card-body">
                           <div id="chart-staff-1" style="padding: 26px;"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 col-lg-6">
                     <div class="card card-chart">
                        <div class="card-header">
                           <div class="row align-items-center">
                              <div class="col-6">
                                 <h5 class="card-title">Attendance by Subjects</h5>
                              </div>

                           </div>
                        </div>
                        <div class="card-body">
                           <div id="staff-chart-2"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12 col-lg-17">
                     <div class="card card-chart">
                        <div class="card-header">
                           <div class="row align-items-center">
                              <div class="col-6">
                                 <h5 class="card-title">Total Attendance Data</h5>
                              </div>

                           </div>
                        </div>
                        <div class="card-body">
                           <div id="chart-staff-3"></div>
                        </div>
                     </div>
                  </div>
{% include 'includes/chart-staff.html' %}
{% endblock main_content%}